body {
  margin: 0;
  height: 2500px;
  background-image: url(images/background.jpg);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.head-bar {
  display: flex;
  justify-content:flex-end;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100px;
}

.company-name {
  width: 420px;
  position: absolute;
  left: 80px;
  top: -110px;
}

.dropdown {
  top: 60px;
  right: 60px;
}

.dropdown-menu {
  display: flex;
  justify-content: center;
  text-align: center;
}

.github {
  display: flex;
  justify-content: center;
  text-align: center;
}

.fa-github {
  color: rgb(52, 40, 128);
  font-size: 20px;
}

.fa-instagram {
  font-size: 20px;
  color: #9740c0;
}

.fa-linkedin {
  font-size: 20px;
  color: rgb(30,144,255);
}

.fa-x-twitter {
  font-size: 20px;
  color: black;
}

.container-social:hover {
  .fa-github, .fa-instagram, .fa-linkedin, .fa-x-twitter, .tag-profile {
    color: rgb(223, 148, 58);
  }
}

.about-me {
  display: flex;
  position: relative;
  height: 330px;
  width: 60%;
  margin-top: 120px;
  margin-left: 500px;
}

.personal-image {
  height: 100%;
  width: 700px;
  border: solid;
  color: white;
}

.personal-description {
  justify-content: flex-start;
  padding: 20px 15px 0 15px;
  color: black;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.GMT {
  text-decoration: underline;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 500px;
}

.project {
  display: flex;
  width: 80%; 
  margin-bottom: 150px;
}

.project-image-container {
  margin-right: 20px;
}

.project-image {
  width: 400px;
  height: 425px;
  box-shadow: 20px 20px 20px -5px rgba(0, 0, 0, 0.7);
  margin: 20px 0 0 0;
  border-radius: 20px;
}

.accordion {
  width: 100%; 
  max-width: 600px;
  margin: 0 0 0 30px;
}

.guide-to-download {
  text-decoration: underline;
}



