body {
  font-family: 'Roboto', sans-serif;
}

.title {
  padding: 0 0 0 45px;
}

.section {
  margin: 0 0 100px 0;
}

.container {
  display: flex;
  justify-content: flex-start;
  max-width: 1000px;
  min-width: 100px;
}

.section-1 {
  margin: 50px;
}