body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.title {
  margin: 20px 0 0 5px;
  color: rgb(17, 17, 202);
}

.section {
  max-width: 500px;
  margin: 0 0 100px 0;
  background-color: rgba(201, 201, 201, 0.7);
  padding: 1px 20px 10px 10px;
  border-radius: 10px;
}

.container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
}

.section-1 {
  margin: 80px 180px 0 0;
}

.section-2 {
  margin: 80px 0 0 0;
}

@media (max-width: 768px) {
  .container {display: block; margin-left: 70px;width: 100%;}
  .section-1 {display: inline-block;}
  .section-2 {display: inline-block;}
}
